{% load static %}

<nav>
    <img src="{% static 'img/icono-taskly.png' %}" alt="Logo Taskly">
    <img id="img-menu" src="{% static 'img/menu-desplegable.png' %}" alt="Menu icono">
    <ul id="menu" class="none">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'crear' %}">Agregar Tarea</a></li>
        <li><a href="{% url 'leer' %}">Mis tareas</a></li>
        <li><a href="{% url 'cerrar_sesion' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'registro' %}">Registrarse</a></li>
        <li><a href="{% url 'iniciar_sesion' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>