{% extends 'index.html' %}

{% load static %}

{% block title %} Mis Tareas | {{usuario}} {% endblock %}

{% block style %}
<!-- ESTILOS LEER TAREA  -->
<link rel="stylesheet" href="{% static 'styles/leer-tarea.css' %}">
{% endblock %}

{% block content %}
<main>
    <h1>Tareas de <span id="span-usuario">{{usuario}}</span></h1>
    <section class="container-tareas">
        {% for tarea in tareas %}
        <div class="card-tarea">
            <a href="{% url 'actualizar' tarea.id %}" id="editar-link">✎ Editar</a>
            <h3>{{ tarea.titulo }}</h3>
            <p class="parrafo-descripcion">{{ tarea.descripcion }}</p>
            <p class="parrafo-fecha">{{ tarea.fecha_creacion }}</p>
            <a href="{% url 'eliminar' tarea.id %}" class="eliminar-tarea" tarea-id={{tarea.id}}>✔ Tarea Completada</a>
        </div>
        {% empty %}
        <h3>Aún no creaste tareas, creá una!</h3>
        {% endfor %}
    </section>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'scripts/confirmacion.js' %}"></script>
{% endblock %}