{% extends 'index.html' %}

{% load static %}

{% block title %}Registrarse | Taskly {% endblock %}

{% block style %}
<!-- ESTILOS FORMULARIOS  -->
<link rel="stylesheet" href="{% static 'styles/forms-styles.css' %}">
{% endblock %}

{% block content %}

<main id="main-form">
    {% if messages %}
    {% for mensaje in messages %}
    <div class="alerta-error">
        <h4>{{mensaje}}</h4>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container-form">
        <h1>Registro Taskly</h1>
        <form method="POST" class="form">
            {% csrf_token %}
            {{form.as_div}}
            <button>Registrarse</button>
        </form>
    </div>
</main>


{% endblock %}