{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- ICONO  -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- ESTILOS GENERALES  -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <!-- ESTILOS NAVBAR  -->
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    {% block style %}{% endblock %}
</head>

<body>
    {% include 'layouts/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</body>

</html>