main h1{
    text-align: center;
    margin: 50px 0 20px 0;
}

#span-usuario{
    color: #141E46;
}

.container-tareas {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 50px;
    padding: 0 50px;
  }

.container-tareas h3{
    text-align: center;
}
  
  .card-tarea {
    margin: 0 25px 50px 0; 
    padding: 20px; 
    color: white;
    background-color: #FF6969;
    border-radius: 25px;
    box-sizing: border-box; 
    width: calc(33.33% - 25px); 
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }


.card-tarea a{
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    border-radius: 10px 5px;
    font-size: 0.8rem;
    width: fit-content;
    align-self: flex-end;
}

.card-tarea a:hover{
    color: #FF6969;
    background-color: white;
}

#editar-link{
    position: absolute;
}

.card-tarea h3{
    margin: 30px 0;
    font-size: 1.5rem;
    word-wrap: break-word;
    text-align: start;
}

.parrafo-descripcion{
    font-weight: 300;
    word-wrap: break-word;
}

.parrafo-fecha{
    margin: 30px 0;
    font-weight: 100;
    align-self: flex-end;
}

#alerta-actualizar{
    background-color: rgb(26, 173, 26);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    position: absolute;
    top: 15%;
    right: 5%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    animation: fadein 3s, fadeout 1s 5s forwards;
}

@media (max-width: 1000px){
    .card-tarea{
        width: calc(50% - 25px);
        margin: 25px auto;
    }
}

@media (max-width: 650px){
    .card-tarea{
        width: 100%;
    }

    #alerta-actualizar{
        animation: fadein 0.1s, fadeout 1s 4s forwards;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}