nav{
    padding: 25px;
    height: 80px;
    background-color: #FF6969;
    display: flex;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}

nav a:hover{
    color: #FFF5E0;
    background-color: #C70039;
    transform: scale(1.1);
}

nav ul{
    margin-left: auto;
    display: flex;
}

nav ul li{
    list-style: none;
    margin-left: 35px;
}

nav img{
    align-self: center;
    width: 60px;
}

#img-menu{
    display: none;
}

@media (max-width: 600px){
    nav ul{
        display: none;
    }
    
    #img-menu{
        cursor: pointer;
        display: inline;
        width: 40px;
        margin-left: auto;
    }

    nav.activo{
        position: absolute;
        top: 0;
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 50px 1fr;
        gap: 50px;
    }

    nav ul.activo{
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
        flex-direction: column;
        grid-column: 1 / 3;
        margin: 0 auto;
    }

    nav ul.activo li{
        margin: 0;
        border: solid 1px white;
        border-radius: 50px 20px;
        padding: 10px 5px;
    }
    nav ul.activo li a{
        min-width: 100px;
    }

    nav ul.activo li a:hover{
        background-color: transparent;
    }
}